* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: poppins;

}
nav {
    height: 60px;
    background: #6E6BBA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
nav h1 {
  display: flex;
  justify-content: center;
font-weight: bolder;
font-style: italic;
width: 200px;
color: #ffffff;
text-transform:uppercase;

}
nav ul {
    float: left;
    margin-right: 25px;
    list-style: none;
}

nav ul li {

    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}
nav a {
    position: relative;
    padding:5px 25px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
li a:hover {
  color: rgb(194, 134, 255);
}












li a:hover {
color: rgb(194, 134, 255);
}


label #sign-one,label #sign-two{
    font-size: 38px;
    color:#fff;
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#res-menu {
    display: none;
}

label #sign-one,label #sign-two{
    font-size: 38px;
    color:#fff;
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#res-menu {
    display: none;
}
.banner-area {
    display: flex;
    justify-content: center;
   background-color: #74747465;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    height: 100vh;
}
.banner-text {
    position: absolute;
    width: 20%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text h2 {
   font-family: 'Inter', sans-serif;
    color: #fff;
    margin-top: -140px;
    font-size: 96px;
    text-align: center;
    transition: .3s ease-in-out;
}
.banner-text h2:hover {
    font-family: 'Anton', sans-serif;
    color: #fff;
    margin-top: -140px;
    font-size: 150px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

@media (max-width: 342px) {
  .banner-text h2 {
    font-family: 'Anton', sans-serif;
    color: #fff;
    margin-top: -140px;
    font-size: 6vh;
    text-align: center;
    transition: .3s ease-in-out;
}

.banner-text h2:hover {
  font-family: 'Anton', sans-serif;
  color: #fff;
  margin-top: -140px;
  font-size: 8vh;
  text-align: center;
  transition: 0.3s ease-in-out;
}
}

@media (max-width:870px) {
    label #sign-one {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 10 ;
    }
    nav ul li {
        display: block;
        margin: 40px 0 ;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #res-menu:checked ~ ul {
        left: 0;
    }
    #res-menu:checked ~ label #sign-one {
        display: none;
    }
    #res-menu:checked ~ label #sign-two {
        display: block;
    }
}



.quemsomos {
  
    grid-area:header;
   
  }
  .quemsomos {
  display: flex;
  font-size: 10vh;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  align-items: center;
  padding-left: 15%;

  animation: about 3s linear 0s 1 alternate ;
  
  }
  @keyframes about {
    0%,
    25% {
      transform: translateX(-100%);
      left: 0%;
    }
    75%,
    100% {
      transform: translateX(0%);
      left: 100%;
    }
  }


  
  @media (max-width: 768px) {
  
    .quemsomos {
      font-size: 3rem;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      align-items: center;
      justify-content: center;
      animation: about 3s linear 0s 1 alternate ;
      
      }
    }
    @keyframes about {
      0%,
      25% {
        transform: translateX(-100%);
        left: 0%;
      }
      75%,
      100% {
        transform: translateX(0%);
        left: 100%;
      }
    }
  
    
    
    
    
  
    @media (max-width: 342px) {
  
      .quemsomos {
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        align-items: center;
        justify-content: center;
        animation: about 3s linear 0s 1 alternate ;
        
        }
    }
    @keyframes about {
      0%,
      25% {
        transform: translateX(-100%);
        left: 0%;
      }
      75%,
      100% {
        transform: translateX(0%);
        left: 100%;
      }
    }
    
      
      
      
      
  
  
  .descricao{
    grid-area:aside;
   
  }
  
  .descricao {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
  }
  
  .descricao p {
    font-size: xx-large;
    font-family: 'Maven Pro', sans-serif;
  
  }
  @media only screen and (min-width: 768px) and (max-width: 1223px){


    .descricao p {
      font-size: x-large;
      font-family: 'Maven Pro', sans-serif;
    
    }


  }
  .videosobre {
   
    grid-area:main;
    
  }
  
  .videosobre {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  
  
  .videosobre iframe {
    width: 90vh;
    height: 60vh;
  }
  
  @media (max-width: 768px) {
  
    .videosobre iframe {
  
      width: 60vh;
      height: 60vh;
    }
  }

    @media (max-width: 342px) {
  
      .videosobre iframe {
    
        width: 40vh;
        height: 40vh;
      }
    
  
    }
  
  .funcionarios {
  background: rgb(255, 255, 255);
  grid-area:funcionarios;
  
  }
  
   table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #b444ae;
    cursor: pointer;
    background-color: #ffffff;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}
 




@media (max-width: 342px) {
  
  table {
    width: 50%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}



}
   

  
  
  
  
  
  
  /* Principal Container */
  
  .container-home {
    min-width: 0px;
    width: 100%;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20vh 80vh 40vh ;
    grid-template-areas: "header header"
                          "main aside"
                          "funcionarios funcionarios"
                         
  
  }
  
  
  
  /* Principal Container - Mobile */
  
  @media (max-width: 768px) {
  
    .container-home {
  
      display:grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 20vh 70vh 35vh 45vh ;
      grid-template-areas: "header header"
                            "main main"
                            "aside aside"
                            "funcionarios funcionarios"
                           
    
    }
    
  
    
    }
  
    th {
  
      background-color: #222;
      height: 30px;
      color: white;
      margin: -2px;
      gap: 0;
    }
  
    a {
        text-decoration: none;
        color: #fff;
    }
    p > a:hover{
        color: #d9d9d9;
        text-decoration:  underline;
    }
   
   .social-icon
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin:  1% 0 1% 0;
    }
    ._12 {
        font-size: 1.2em;
    }
    ._14 {
        font-size: 1.4em;
    }
    .social-icon ul {
       
        padding:0;
        list-style: none;
    }
    .footer-social-icons {
        width: 350px;
        display:block;
        margin: 0 auto;
    }
    .social-icon {
        color: #fff;
    }
    ul.social-icons {
        margin-top: 10px;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 100px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
    }
    .fa-facebook {
       
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-facebook:hover {
        background-color: #3d5b99;
    }
    .fa-twitter {
        padding:10px 12px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }

    .fa-instagram {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-instagram:hover {
        background-color: #e64a41;
    }


    .categoria {

        display: flex;
        justify-content: flex-start;
font-size: 10vh;
font-weight: bolder;
font-style: italic;
font-family: 'Jost', sans-serif;


    }

    .produtos{
        min-height: 100vh;
    }
    
    .produtos .box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding:2rem 0;
        width: 85%;
        margin:0 auto;
    }
    
    .produtos .box-container .box{
        flex:1 1 30rem;
        border:.1rem solid rgba(0,0,0,.3);
        overflow: hidden;
        position: relative;
        margin:1rem 2rem;
    }
    
    .produtos .box-container .box .image{
        height: 20rem;
        padding:2rem;
        text-align: center;
        background:#f0f0f0;
    }
    
    .produtos .box-container .box .image img{
    
        height: 100%;
        object-fit: cover;
    }

    
    @media (max-width: 400px) {
  
        .produtos .box-container .box .image img{
            width: 15vh;
            height: 190px;
            object-fit: contain;
            
           
        }

        .categoria {

            display: flex;
            justify-content: flex-start;
    font-size: 5vh;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Jost', sans-serif;
    
    
        }


    
      
        
        
        
        }
    
    .produtos .box-container .box .info h3{
        padding:1rem;
        font-size: 2rem;
        color:var(--blue);
    }
    
    .produtos .box-container .box .info .subInfo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;
        border-top: .1rem solid rgba(0,0,0,.3);
    }
    
    .produtos .box-container .box .info .subInfo .price{
        color:#ff3300;
        font-size: 2rem;
    }
    
    .produtos .box-container .box .info .subInfo .price span{
        color:#666;
        font-size: 1.5rem;
        text-decoration: line-through;
    }
    
    .produtos .box-container .box .info .subInfo .stars i{
        color:orange;
        font-size: 1.5rem;
    }
    
    .produtos .box-container .box .overlay{
        position: absolute;
        top:0; left: 0;
        height:20rem;
        width: 100%;
        background:rgba(0,0,0,.3);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);
    }
    
    .produtos .box-container .box:hover .overlay{
        transform: scale(1);
    }
    
    .produtos .box-container .box .overlay a{
        font-size: 2rem;
        padding:1.5rem 2rem;
        background:#fff;
        color:#666;
        margin:1rem;
        transform: translateY(-15rem);
        transition-delay: calc(.1s * var(--i));
    }
    
    .produtos .box-container .box:hover .overlay a{
        transform: translateY(0rem);
    }
    
    .produtos .box-container .box .overlay a:hover{
        color:var(--blue);
    }


 
   


  .overlay,
.form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 1.2);
    width: 100%;
    height: 100%;
}

.formulario {
    z-index: -1;
    background: #FFFFFF;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 120px;
    overflow: hidden;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 1.2);
}

.two .form-group input {
    color: #FFFFFF;
}

.two .form-group input:focus {
    color: #FFFFFF;
}

.form-group button {
    outline: none;
    background: #d0e075;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;

    
}






@media (max-width: 768px) {
  
  .form-group button {
    outline: none;
    background: #9d26ff;
    width: 50%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 3;
    transition: ease-in;
}
@keyframes example {

    from {background-color: #ff2626;}
    to {background-color: #27bcda;}
    
       
   }
   
.overlay,
.form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 1.2);
    width: 50%;
    height: 50%;
}

.formulario {
    z-index: -15;
    position: relative;
    background: #FFFFFF;
    width: 50vh;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 1.2);
}

.two .form-group input {
    color: #FFFFFF;
}

.two .form-group input:focus {
    color: #FFFFFF;
}
  
  
  
  }

  @media only screen and (min-width: 354px) and (max-width: 440px){


  
    .form-group button {
      outline: none;
      background: #000000;
      width: 80%;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      color: #FFFFFF;
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
      animation-name: example;
      animation-duration: 5s;
      animation-iteration-count: 3;
      transition: ease-in;
  }
  @keyframes example {
  
      from {background-color: #ff2626;}
      to {background-color: #27bcda;}
      
         
     }
  
  .overlay,
  .form-panel.one:before {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      background: rgba(0, 0, 0, 1.2);
      width: 50%;
      height: 50%;
  }
  
  .formulario {
      z-index: -15;
      position: relative;
      background: #FFFFFF;
      width: 32vh;
      border-radius: 4px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      margin: 100px auto 10px;
      overflow: hidden;
  }
  
  .form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 20px;
  }
  
  .form-group:last-child {
      margin: 0;
  }
  
  .form-group label {
      display: block;
      margin: 0 0 10px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
  }
  
  .two .form-group label {
      color: #FFFFFF;
  }
  
  .form-group input {
      outline: none;
      display: block;
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: rgba(0, 0, 0, 0.6);
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      transition: 0.3s ease;
  }
  
  .form-group input:focus {
      color: rgba(0, 0, 0, 1.2);
  }
  
  .two .form-group input {
      color: #FFFFFF;
  }
  
  .two .form-group input:focus {
      color: #FFFFFF;
  }
    
    
    
}

@media (max-width: 352px) {
  
    .form-group button {
      outline: none;
      background: #000000;
      width: 80%;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      color: #FFFFFF;
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
      animation-name: example;
      animation-duration: 5s;
      animation-iteration-count: 3;
      transition: ease-in;
  }
  @keyframes example {
  
      from {background-color: #ff2626;}
      to {background-color: #27bcda;}
      
         
     }
  
  .overlay,
  .form-panel.one:before {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      background: rgba(0, 0, 0, 1.2);
      width: 50%;
      height: 50%;
  }
  
  .formulario {
      z-index: -15;
      position: relative;
      background: #FFFFFF;
      width: 30vh;
      border-radius: 4px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      margin: 100px auto 10px;
      overflow: hidden;
  }
  
  .form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 20px;
  }
  
  .form-group:last-child {
      margin: 0;
  }
  
  .form-group label {
      display: block;
      margin: 0 0 10px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
  }
  
  .two .form-group label {
      color: #FFFFFF;
  }
  
  .form-group input {
      outline: none;
      display: block;
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: rgba(0, 0, 0, 0.6);
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      transition: 0.3s ease;
  }
  
  .form-group input:focus {
      color: rgba(0, 0, 0, 1.2);
  }
  
  .two .form-group input {
      color: #FFFFFF;
  }
  
  .two .form-group input:focus {
      color: #FFFFFF;
  }
    
    
    
    }
    @media (max-width: 264px) {
  
        .form-group button {
          outline: none;
          background: #000000;
          width: 250%;
          border: 0;
          border-radius: 4px;
          padding: 12px 20px;
          color: #FFFFFF;
          font-family: inherit;
          font-size: inherit;
          font-weight: 500;
          line-height: inherit;
          text-transform: uppercase;
          cursor: pointer;
          animation-name: example;
          animation-duration: 5s;
          animation-iteration-count: 3;
          transition: ease-in;
      }
      @keyframes example {
      
          from {background-color: #ff2626;}
          to {background-color: #27bcda;}
          
             
         }
      
      .overlay,
      .form-panel.one:before {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          background: rgba(0, 0, 0, 1.2);
          width: 50%;
          height: 50%;
      }
      
      .formulario {
          z-index: -15;
          position: relative;
          background: #FFFFFF;
          width: 20vh;
          border-radius: 4px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          margin: 100px auto 10px;
          overflow: hidden;
      }
      
      .form-group {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0 0 20px;
      }
      
      .form-group:last-child {
          margin: 0;
      }
      
      .form-group label {
          display: block;
          margin: 0 0 10px;
          color: rgba(0, 0, 0, 0.6);
          font-size: 12px;
          font-weight: 500;
          line-height: 1;
          text-transform: uppercase;
          letter-spacing: 0.2em;
      }
      
      .two .form-group label {
          color: #FFFFFF;
      }
      
      .form-group input {
          outline: none;
          display: block;
          background: rgba(0, 0, 0, 0.1);
          width: 100%;
          border: 0;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 12px 20px;
          color: rgba(0, 0, 0, 0.6);
          font-family: inherit;
          font-size: inherit;
          font-weight: 500;
          line-height: inherit;
          transition: 0.3s ease;
      }
      
      .form-group input:focus {
          color: rgba(0, 0, 0, 1.2);
      }
      
      .two .form-group input {
          color: #FFFFFF;
      }
      
      .two .form-group input:focus {
          color: #FFFFFF;
      }
        
        
        
        }



.two .form-group button {
    background: #FFFFFF;
    color: #4285F4;
 
}

.form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-group .form-recovery {
    color: #4285F4;
    font-size: 12px;
    text-decoration: none;
}

.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}

footer{
 
  background: #6E6BBA;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

/* FOOTER */


.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  padding: 5px;

}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}
.footer-menu{
  margin-bottom: 20px;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  padding: 6px 15px;

  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
@media (max-width:500px) {
  .footer-menu ul{
    display: inline;
  }
  .footer-menu ul li{
    margin-bottom: 20px;
  }
  }

 .fab {
  background: none;
 }






.footer-home {
    
    background:orange;
    grid-area:footer;
    
  
  }



  